# D-I config version 2.0
# search path for the c32 support libraries (libcom32, libutil etc.)
default menu.c32
prompt 0
timeout 300
ONTIMEOUT local

menu title ########## PXE Boot Menu ##########

label 1
menu label ^1) Install {{ os_name }}
kernel {{ os_name }}/images/pxeboot/vmlinuz
append initrd={{ os_name }}/images/pxeboot/initrd.img 
method=http://{{ ansible_enp0s8["ipv4"]["address"] }}/{{ os_name }} devfs=nomount

label 2
menu label ^2) Boot from local drive localboot
